$baseFont: #222;
$baseBorderRadius: 8px;
$baseGap: 8px;
$basePadding: 16px;
$largePadding: 40px;
$largeBorderRadius: 90px;
$sz-x1: 8px;
$sz-x2: 16px;
$sz-x3: 24px;
$sz-x4: 32px;
$sz-x5: 40px;
$sz-x6: 48px;
$sz-x7: 56px;
$sz-x8: 64px;
$sz-x9: 72px;
$sz-x10: 80px;
